In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("drug.csv")

In [3]:
df

,uniqueID,drugName,condition,review,rating,date,usefulCount
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37
...,...,...,...,...,...,...,...
161292,191035,Campral,Alcohol Dependence,"""I wrote my first report in Mid-October of 201...",10,31-May-15,125
161293,127085,Metoclopramide,Nausea/Vomiting,"""I was given this in IV before surgey. I immed...",1,1-Nov-11,34
161294,187382,Orencia,Rheumatoid Arthritis,"""Limited improvement after 4 months, developed...",2,15-Mar-14,35
161295,47128,Thyroid desiccated,Underactive Thyroid,"""I&#039;ve been on thyroid medication 49 years...",10,19-Sep-15,79
161296,215220,Lubiprostone,"Constipation, Chronic","""I&#039;ve had chronic constipation all my adu...",9,13-Dec-14,116

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161297 entries, 0 to 161296
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   uniqueID     161297 non-null  int64
 1   drugName     161297 non-null  object
 2   condition    160398 non-null  object
 3   review       161297 non-null  object
 4   rating       161297 non-null  int64
 5   date         161297 non-null  object
 6   usefulCount  161297 non-null  int64
dtypes: int64(3), object(4)
memory usage: 8.6+ MB

In [5]:
df.isnull().sum()

uniqueID         0
drugName         0
condition      899
review           0
rating           0
date             0
usefulCount      0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df["char_count"]=df["review"].astype(str).apply(len)

In [8]:
df["word_count"]=df["review"].astype(str).apply(lambda x : len(x.split()))

In [9]:
df.head()

,uniqueID,drugName,condition,review,rating,date,usefulCount,char_count,word_count
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27,79,17
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192,741,141
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17,755,134
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8,3-Nov-15,10,448,89
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9,27-Nov-16,37,719,124

In [10]:
df["word_density"]=df["char_count"]/(df["word_count"]+1)

In [11]:
df.head(3)

,uniqueID,drugName,condition,review,rating,date,usefulCount,char_count,word_count,word_density
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27,79,17,4.388889
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192,741,141,5.218310
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17,755,134,5.592593

In [12]:
v=df[["condition"]].values

In [16]:
# get polarity 
from textblob import TextBlob

def get_polarity(text): 
    textblob = TextBlob(str(text.encode("utf-8")))
    pol =textblob.sentiment.polarity
    return pol


df["polarity"]=df["review"].astype(str).apply(get_polarity)

In [17]:
# get polarity 
from textblob import TextBlob

def get_subject(text): 
    textblob = TextBlob(str(text.encode("utf-8")))
    pol =textblob.sentiment.subjectivity
    return pol


df["subjectivity"]=df["review"].astype(str).apply(get_subject)

In [18]:
df.head(3)

,uniqueID,drugName,condition,review,rating,date,usefulCount,char_count,word_count,word_density,polarity,subjectivity
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27,79,17,4.388889,0.000000,0.000000
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192,741,141,5.218310,0.168333,0.431349
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17,755,134,5.592593,0.067210,0.402155

In [19]:
import string

punctuation=string.punctuation

In [20]:
# code will get every punctuation in every review
df["punctuation_count"]=df["review"].astype(str).apply(lambda x:len("".join(_ for _ in x if _ in punctuation)))

In [21]:
df.head(3)

,uniqueID,drugName,condition,review,rating,date,usefulCount,char_count,word_count,word_density,polarity,subjectivity,punctuation_count
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9,20-May-12,27,79,17,4.388889,0.000000,0.000000,3
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8,27-Apr-10,192,741,141,5.218310,0.168333,0.431349,23
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5,14-Dec-09,17,755,134,5.592593,0.067210,0.402155,34

In [22]:
# pos_dic = {
#     'noun': ['NN', 'NNS', 'NNP', 'NNPS'],
#     'pron': ['PRP', 'PRP$', 'WP', 'WP$'],
#     'verb': ['VB', 'VBD', 'VBG', 'VBN', 'VBP', 'VBZ'],
#     'adj': ['JJ', 'JJR', 'JJS'],
#     'adv': ['RB', 'RBR', 'RBS', 'WRB']
# }

# def pos_check(x, flag):
#     cnt = 0
#     try:
#         wiki = TextBlob(x)
#         for tup in wiki.tags:
#             ppo = tup[1]
#             if ppo in pos_dic[flag]:
#                 cnt += 1
#     except Exception as e:
#         print(f"Error processing text: {x}")
#         print(f"Exception: {e}")
#     return cnt

# df['noun_count'] = df['review'].astype(str).apply(lambda x: pos_check(x, 'noun'))
# print(df)

In [23]:
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', string.punctuation))
df["review"] = df["review"].astype(str).apply(remove_punctuation)

In [24]:
def punctuation_removal(messy_str):
    if isinstance(messy_str, str):
        clean_list = [char for char in messy_str if char not in string.punctuation]
        clean_str = ''.join(clean_list)
        return clean_str
    else:
        return str(messy_str)

df['review'] = df['review'].apply(punctuation_removal)

In [25]:
# lets make a function to remove Numbers from the reviews
import re
def drop_numbers(list_text):
    list_text_new = []
    for i in list_text:
        if not re.search('\d', i): # searh of numbers in string \d
            list_text_new.append(i)
    return ''.join(list_text_new)

df['review'] = df['review'].apply(drop_numbers)

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Capiter\AppData\Local\Temp\ipykernel_37656\1554158524.py:6: SyntaxWarning: invalid escape sequence '\d'
  if not re.search('\d', i): # searh of numbers in string \d

In [26]:
# lets create a function to remove accented characters
import unicodedata # Import the unicodedata module        é

def remove_accented_chars(text):
    new_text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return new_text

# lets apply the function
df['review'] = df.apply(lambda x: remove_accented_chars(x['review']), axis = 1)

In [27]:
#Removal of special characters
def remove_special_characters(text):
    pat=r'[^a-zA-z0-9]'
    return re.sub(pat, ' ',text)

df["review"]=df.apply(lambda x: remove_special_characters(x['review']), axis=1)

In [28]:
# cleaning the texts
# importing the libraries for Natural Language Processing

import re
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [29]:
## Cleaning the Data

corpus = []

for i in range(0, 3150):
    review = re.sub('[^a-zA-Z]', ' ', df['review'][i])  ## Removing all Unecessary items
    review = review.lower()                                         ## Converting into Lower Case
    review = review.split()
    ps = PorterStemmer()                                            ## Stemming
    review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]  ## Removing Stopwords
    review = ' '.join(review)
    corpus.append(review)

KeyError: 30

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer


cv= CountVectorizer(max_features=2500)

x = cv.fit_transform(corpus).toarray()

y=df.iloc[:,4].values

print(x.shape,y.shape)

In [ ]:
# creating bag of words
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(max_features = 2500,ngram_range=(2, 2))

x = tf.fit_transform(corpus).toarray()
y = df.iloc[:, 4].values

print(x.shape)
print(y.shape)

In [ ]:
from sklearn.model_selection import train_test_split

Xtrain,Xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2 ,random_state=42)